<template>
  <section class="todoapp">
			<header class="header">
				<h1>Super2Do</h1>
				<input class="new-todo" placeholder="What needs to be done?" autofocus v-model="newtodo" @keyup.enter="addTodo">
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main" v-if="todos.length > 0">
				<input id="toggle-all" class="toggle-all" type="checkbox" v-model="allcomplete">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
					<li v-for="(todo,index) in filterTodo" :key="index" :class="[(todo.completed ? 'completed' : ''),(todo.edit ? 'editing' : '')]" >
						<div class="view">
							<input class="toggle" type="checkbox" v-model="todo.completed" @click="complete(index)">
							<label @dblclick="todo.edit = true">{{todo.task}}</label>
							<button class="destroy" @click="delTodo(index)"></button>
						</div>
						<input class="edit" v-model="todo.task" @keyup.enter="editTodo(index)">
					</li>
				</ul>
			</section>
			<!-- This footer should be hidden by default and shown when there are todos -->
			<footer class="footer" v-if="todos.length > 0">
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{itemleft}}</strong> item left</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a :class="filter === 'all' ? 'selected' : ''" @click="filter = 'all'" >All</a>
					</li>
					<li>
						<a :class="filter === 'active' ? 'selected' : ''" @click="filter = 'active'">Active</a>
					</li>
					<li>
						<a :class="filter === 'completed' ? 'selected' : ''" @click="filter = 'completed'">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed" @click="clearcompleted">Clear completed</button>
			</footer>
  </section>
</template>

<script>
import { api } from '@/services/axios.js'
export default {
  name: 'IndexPage',
  data(){
    return{
        todos:[],
        newtodo:'',
        filter:'all',
        allcomplete:false
    }
  },
  watch:{
    allcomplete(val){
      if(val){
        this.todos.map(t=>{
          t.completed = true
        })
        
      }else{
        this.todos.map(t=>{
          t.completed = false
        })
      }
      let fd = new FormData()
        fd.append('todos',JSON.stringify(this.todos))
        api.post('completedtask',fd)
    }
  },
  methods:{
    addTodo(){
      api.post('addtask',{
        task : this.newtodo
      })
      .then(()=>{
        this.newtodo = ''
        this.getList()
      })
      .catch(err=>console.log("error",err))
    },
    delTodo(index){
      api.post('deletetask',this.todos[index])
      .then(()=>this.todos.splice(index,1))
      .catch(err=>console.log("error",err))
      
    },
    clearcompleted(){
      let complete = this.todos.filter(t => t.completed === true)
      let fd = new FormData()
      fd.append('todos',JSON.stringify(complete))
      api.post('deletecompleted',fd)
      .then(()=>this.getList())
    },
    editTodo(index){
      api.post('updatetask',this.todos[index])
      .then(()=>this.todos[index].edit = false)
      .catch(err=>console.log("error",err))
    },
    async getList(){
        const { data } = await api.get('gettask')
        let dataResponse = data.data
        if(dataResponse.length > 0 ){
          dataResponse.forEach(e=>{
              if(e.completed === 1){
                e.completed = true
              }
              if(e.completed === 0){
                e.completed = false
              }
              e.edit = false
          })
          this.todos = dataResponse
        }
    },
    complete(index){
      let data = this.todos[index]
      data.completed = !data.completed
      api.post('updatetask',data)
      .catch(err=>console.log("error",err))
    }
  },
  mounted(){
    this.getList()
  },
  computed:{
      itemleft(){
        return this.filterTodo.length
      },
      filterTodo(){
        if(this.filter === 'all'){
          return this.todos
        }else if (this.filter === 'active'){
          return this.todos.filter(t => t.completed === false)
        }else {
          return this.todos.filter(t => t.completed === true)
        }
      }
  }
}
</script>

